# Servidor
PORT=
NODE_ENV=

# Base de datos
MONGO_URL=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# Cloudinary (subida de firmas y PDFs)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Slack (notificaciones de errores 5XX)
SLACK_WEBHOOK=
